<div class="mt-4 ">
  <h6 class="text-primary">
    {{ "HEADERS.ABOUT" | translate }}
  </h6>
  <div class="row mt-1">
    <div class="col breakAvoid">
      <p *ngFor="let paragraph of text">{{paragraph}}</p>
    </div>
  </div>
</div>
