<div class="mt-4 " *ngFor="let timeline of timelines">
  <h6 class="text-primary">
    {{"HEADERS." + timeline.name | uppercase | translate}}
  </h6>
  <div class="row pt-3 breakAvoid" *ngFor="let te of timeline?.events">
    <div class="col-sm-3 text-sm-right">
      <small class="text-secondary">
        {{te.from + (te.to ? ' - ' + te.to : '')}}
      </small>
    </div>
    <div class="col-sm-9">
      <div class="h5">
        {{te.name}}
      </div>
      <div>
        {{te.company}}
      </div>
      <div *ngIf="te.details">
        <p>
          <small class="text-secondary">
            {{te.details}}
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
