/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Ubuntu', sans-serif;
}

p {
  text-align: justify;
  text-indent: 3ch;
}

@media print {
  .noPrint {
    display: none !important;
  }

  .breakAvoid {
    page-break-inside: avoid;
  }
}
